.unload{
    &__wrapper{
        position: relative;
        display: flex;
        gap: 15px;
        flex-direction: column;
        @include respond-to(small-tablet){
            flex-direction: row;
        }
    }
    &__about{
        padding: 15px;
        & h3{
            font-size: 20px;
        }
    }
    &__left{
        order: 2;
        width: 100%;
        & div{
            margin-bottom: 15px;
        }
        @include respond-to(small-tablet) {
            width: 35%;
        }
        @include respond-to(small-tablet) {
            order: 1;
        }
    }
    &__right{
        order: 1;
        width: 100%;
        @include respond-to(small-tablet) {
            order: 2;
        }
    }
    &__notice{
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 3px;
        background-color: var(--color_primary_30);
        color: var(--color_light_purple);
    }
    &__info{
        position: sticky;
        top: 10px;
        left: 0;
        right: 0;
        overflow: hidden;
        border-radius: 3px;
        background-color: #fff;
        width: 100%;
        &-top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #d6dde7;
            height: 55px;
        }
        &-id{
            height: 100%;
            padding: 0 10px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color_primary);
        }
        &-event{
            font-size: 16px;
            margin-right: auto;
            margin-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include respond-to(small-tablet) {
                white-space: normal;
            }
        }
        &-close{
            display: none;
            @include respond-to(small-tablet) {
                display: block;
                height: 100%;
                border: none;
                background-color: red;
                color: #fff;
                width: 35px;
                cursor: pointer;
            }
        }
        &-body {
            padding: 15px 10px;
        }
        &-notice{
            background-color: #d6dde7;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 10px 10px;
        }
        &-img{
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        &-download{
            margin: 5px 0;
        }
        &-copy{
            text-decoration: underline dotted;
            @include respond-to(small-tablet) {
                margin-left: 20px;
            }
        }
        &-bottom{
            display: flex;
            flex-direction: column;
            @include respond-to(small-tablet) {
                flex-direction: row;
            }
        }
        &-exit{
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 10px;
            float: right;
            width: 100px;
            padding: 7px 0;
            color: #fff;
            background-color: red;
            border-radius: 3px;
            border: none;
            @include respond-to(small-tablet) {
                display: none;
            }
        }
    }
    &--success {
        border-color: var(--color_success) !important
    }
    &--danger {
        border-color: var(--color_danger) !important
    }
}